{% extends 'base.html' %}

{% block content %}

<h2 style="color:aqua;margin-top:20px">Welcome to Dashboard-page!!!!{{user}}</h1>

    <a href="{% url 'create' %}" class="btn btn-outline-primary">
        Create Record
    </a><br><br> 

    <table class="table table-light table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>      
                <th scope="col">First_name</th>
                <th scope="col">Last_name</th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr> 
        </thead>
        <tbody>
           
             
            {% for record in record_list  %}
            <tr>
                <td>{{record.id}}</td>
                <td>{{record.first_name}}</td>
                <td>{{record.last_name}}</td>
                <td><a href="{% url 'update' record.id %}"><input type="submit" class="btn btn-success" value="Update"></a></td>
                <td><a href="{% url 'delete' record.id %}"><input type="submit" class="btn btn-danger" value="Delete"></a></td>
            </tr> 

         {% endfor %}
                  
           
      
        </tbody>
    </table>

{% endblock %}